*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: #fff;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}

/* header */

.container{
    margin: 0 auto;
    max-width: 1100px;
}
.texto{
    background: #101828;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.back{
    padding: 40px 0;
    background-color: #F8FAFC;
    text-align: center;
    color: #000;
    box-shadow: #000 0px 1px 5px;
}
.menu{
    position: absolute;
    padding: 10px;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000PX;
}
.logo{
    font-size: 24px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 10px;
    color: #fff;
    display: block;
}
.menu .navbar ul li a:hover{
    color: grey;
}
#menu{
    display: none;
}
.menu-icono{
    width: 50px;
}
.menu label{
    cursor: pointer;
    display: none;
}
@media( max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .back{
        padding: 56px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F8FAFC;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}

/* body */

.cuerpo{
    display: block;
    margin: 10px;
    justify-items: center;
    height: auto;
    text-align: center;
    padding: 1px;
}

/*PRIMERA PARTE*/

.mybio{
    display: grid;
    border: 5px solid #2A2A2A;
    text-align: center;
    font-family: Arial;
    margin: 5px;
    padding: 5px;
    width: 70%;
    justify-items: center;
    color: #2A2A2A;
    border-radius: 25px;
    border: #000 2px solid;
    border-style: dashed;
}
.mybio h1{
    font-size: 30px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #000 0px 0.5px 3px;
}
.person{
    border: 0px solid #2A2A2A;
    width: 60%;
}
#rasgos{
    text-align: left;
    margin: 5px;
    display: flex;
    height: auto;
}
#rasgos ul li{
    text-align: left;
    position: relative;
    float: left;
    margin-left: 10px;
    list-style: circle inside;
}

/*FINALIZA PRIMERA PARTE Y EMPIEZA SEGUNDA*/

#block{
    display: block;
    padding: 0px 20px 0px 20px;
    width: 50%;
    justify-items: center;
}
#info{
    margin: 5px;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.for-me{
    font-size: 20px;
    color: #2A2A2A;
    text-align: justify;
    margin: 5px;
    padding: 15px;
    border: #000 2px solid;
    width: 50%;
    border-radius: 25px;
    border-style: dashed;
}
.for-me h3{
    margin: 5px;
}

/*FINALIZA SEGUNDA PARTE Y EMPIEZA TERCERA*/

.cuerpoH{
    display: block;
    margin: 10px;
    justify-items: center;
    height: auto;
    width: 70%;
    text-align: center;
    padding: 10px;
    border: 2px solid #2A2A2A;
    border-style: dashed;
    border-radius: 25px;
}
.habilidades{
    display: flex;
    text-align: center;
    border: 0px solid #2A2A2A;
    color: #2A2A2A;
    justify-content: center;
    width: 90%;
    margin: 10px;
}
.caja{
    display: inline-block;
    border: 2px solid #2A2A2A;
    padding: 10px;
    color: #2A2A2A;
    border-radius: 25px;
    width: 50%;
    margin: 10px;
}
.cajita{
    display: inline-flex;
    margin: 10px;
    border: 2px solid #2A2A2A;
    padding: 10px;
    color: #2A2A2A;
    width: 50%;
    justify-content: center;
    border-radius: 25px;
    border-style: dashed;
}
.cajita h2{
    margin: 12.5px 0px 0px 0px;
}
#op{
    width: 50%;
}

input{
    width: 100%;
    margin: 5px 0px 15px 0px;
    padding: 10px;
    border: 2px solid #2A2A2A;
}
.imk{
    border: 2px solid #2A2A2A;
    margin: 5px;
    width: 350;
    height: 350px;
    border-radius: 50%;
    box-shadow: #000 0px 5px 15px;
}
.imk-hab{
    border: 2px solid #2A2A2A;
    margin: 5px;
    width: 50%;
    height: 50%;
}
#imagen{
    text-align: right;
    border: 5px solid #000;
    width: auto;
    margin: 20px;
    padding: 10px;
}
.cuerpoP{
    display: block;
    margin: 10px;
    justify-items: center;
    height: auto;
    text-align: center;
}
#descrip{
    text-align: center;
    border: 5px solid #000;
    background: #101828;
    width: 70%;
    margin: 20px;
    padding: 10px;
    display: grid;
    color: #fff;
    border-radius: 30px;
    padding: 20px;
}
#proyec{
    text-align: left;
    border: 2px solid gray;
    width: auto;
    margin: 20px;
    padding: 10px;
    display: flex;
    height: 400px;
    border-radius: 50px;
    border-style: dashed;
}
.descT{
    margin: 10px;
    height: auto;
    border: #000 0px solid;
    text-align: justify;
    color: #fff;
}
.descP{
    margin: 10px;
    height: 50%;
    border: #000 0px solid;
    text-align: justify;
    color: #fff;
}
.descB{
    margin: 10px;
    height: 30%;
    border: #000 0px solid;
    text-align: justify;
}
.descB button{
    border-radius: 25px;
}
.descB button a{
    text-align: center;
    border-radius: 25px;
    display: flex;
    padding: 2px;
    background: #fff;
    color: #101828;
}
.descB button a:hover{
    background: #45556C;
    color: #fff;
}
.Fproy{
    margin: 10px;
    width: 60%;
    height: auto;
    border: #000 0px solid;
    text-align: center;
}
.Foproy{
    border-radius: 25px;
    margin: 15px;
    height: 90%;
    width: 85%;
    box-shadow: #fff 0px 5px 15px;
}
.Cproyec{
    display: inline-block;
    border: 0px solid #2A2A2A;
    padding: 10px;
    color: #2A2A2A;
    border-radius: 25px;
    width: 40%;
}
@media( max-width:991px){
    .welcome{
        width: auto;
    }
    .bienv{
        width: 100%;
    }
    .cuerpo{
        display: grid;
        width: auto;
    }
    .mision{
        text-align: center;
        width: auto;
    }
    .vision{
        text-align: center;
        width: auto;
    }
    #imagen{
        width: auto;
    }
    #descrip{
        width: auto;
    }
    .cont{
        width: 95%;
    }
}
/*INICIO DE FORMULARIO*/

.formu{
    margin: 10px;
    border: 0px solid #101828;
    padding: 10px;
    color: #101828;
    text-align: center;
    justify-items: center;
}
.contact{
    margin: 5px;
    border: 3px solid #101828;
    padding: 20px;
    color: #2A2A2A;
    border-radius: 20px;
    width: 50%;
}
.formulario form{
    display: block;
    text-align: justify;
}
#mensaje{
    display: block;
    margin: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #101828;
}
input{
    border-radius: 20px;
    margin: 10px;
}
.botn{
    border-radius: 20px;
    background-color: #101828;
    color: #fff;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
.botn:hover{
    background-color:#45556C;
}

/*FIN DE FORMULARIO*/

/*footer*/

.pie{
    box-shadow: #000 0px 1px 5px;
    border: 0px solid #000;
    padding: 1em 0;
    background-color: #F8FAFC;
    text-align: center;
    color: #000;
}
.redes{
    margin: 10px;
}
.redes img{
    cursor: pointer;
}